.about {
    display: flex;
    flex-direction: column;
}

.title-container {
    padding: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.line-section {
    width: 50%;
    border: 1px solid var(--secondary);
    height: 1px;
    margin: 0 1rem;
    opacity: 0.8;
}

.title-section {
    text-align: center;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.my-img img {
    width: 52rem;
    height: 53rem;
    border-radius: 1rem;
}

.resume-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 2rem;
    padding: 1rem;
}

.resume-section p {
    font-size: 1.7rem;
    color: #fff;
    text-align: start;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    border-radius: .4rem;
    box-shadow: inset 9px -6px 20px -3px rgba(0, 0, 0, 0.5);
}

.tab button {
    position: relative;
    border-radius: .4rem;
    background-color: transparent;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: padding ease-in-out .4s, opacity ease-in .3s;
    color: #fff;
    opacity: 0.7;
    padding: 0.5rem 2rem;
    font-weight: bold;
    width: 100%;
}

.tab button:hover {
    opacity: 1;
}

.tab button.active {
    padding: .7rem 3rem;
    opacity: 1;
    border: 2px solid var(--secondary);
    background-color: #15171e;
}

.tab button::before {
    content: "";
    border-radius: 6px;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -2px;
    right: -2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    transition: 0.5s ease-in-out;
}

.tab button::after {
    content: "";
    width: 0px;
    height: 0px;
    border-radius: 6px;
    position: absolute;
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: 0.5s ease-in-out;
}

.tab button:hover::before {
    width: 100%;
    height: 100%;
    border-top: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
}

.tab button:hover::after {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--secondary);
    border-left: 2px solid var(--secondary);
}

.tabcontent {
    display: none;
    margin: 3rem 0;
}


.work {
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: inset 9px -6px 20px -3px rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
    animation: initialize 0.7s forwards;
    display: flex;
    justify-content: space-around;
}

.work h2 {
    color: var(--secondary);
    font-size: 1.5rem;
}

.work p {
    font-size: 1.2rem;
    color: var(--terciary);
}

.list-abilities {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 150px;
}

.abilities img {
    width: 2rem;
    height: 2rem;
}

.skills {
    animation: initialize 0.7s forwards;
}

.skills h2 {
    background: linear-gradient(to right, var(--secondary), #ffffff, var(--secondary), var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-skills {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.list-skills img {
    width: 5rem;
    height: 5rem;
}

.skill {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.6rem;
    width: 10rem;
    height: 10rem;
    box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 9px -6px 20px -3px rgba(0, 0, 0, 0.4);
    transition: transform ease .5s;
}

.skill:hover {
    transform: scale(1.1);
}

.institution {
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: inset 9px -6px 20px -3px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 2rem;
    animation: initialize 0.7s forwards;
}

.institution h2 {
    color: var(--secondary);
    font-size: 1.5rem;
}

.institution p {
    font-size: 1.5rem;
    color: var(--terciary);
}

.download-cv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.btn-cv {
    cursor: pointer;
    border: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: inset 9px -6px 20px -3px rgba(0, 0, 0, 0.5);
}

.btn-cv i {
    font-size: 2rem;
    color: #fff;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 9rem;
    left: 78%;
    padding: .5rem;
    text-align: center;
    background-color: var(--secondary);
    color: #fff;
    opacity: 0;
    transition: opacity 0.4s;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.btn-cv:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    animation: translateY .5s infinite alternate;

}

@media screen and (max-width:1280px) {
    .my-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .my-img img {
        width: 40rem;
        height: 40rem;
    }

    .about-content {
        grid-template-columns: 1fr;
    }

    .skills p {
        font-size: 1rem;
    }

    .tooltip-text {
        left: 74%;
    }
}

@media screen and (max-width:768px) {

    .my-img img {
        width: 90%;
        height: 90%;
    }

    .tooltip-text {
        visibility: visible;
        opacity: 1;
        animation: translateY .5s infinite alternate;
        left: 65%;
    }
}

@media screen and (max-width:480px) {

    .title-section {
        font-size: 2rem;
    }

    .line-section {
        width: 60%;
    }

    .resume-section p {
        font-size: 1.3rem;
        text-align: center;
    }

    .tab {
        flex-direction: column;
    }

    .tabcontent h2 {
        font-size: 1.4rem;
    }

    .skill {
        width: 9rem;
        height: 9rem;
    }

    .tooltip-text {
        left: 36%;
    }
}