.about {
    display: flex;
    flex-direction: column;
    border-radius: .4rem;
    margin-top: 1rem;
    animation: initialize 0.7s forwards;
}

.title-container {
    padding: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.line-section {
    width: 20%;
    border: 1px solid var(--secondary);
    height: 1px;
    margin: 0 1rem;
}

.title-section {
    text-align: center;
}

.resume-section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.resume-section p {
    max-width: 60%;
    font-size: 2rem;
    color: #fff;
}

.skills {
    margin: 1rem 0;
}

.skills h2{
    background: linear-gradient(to right, var(--secondary),#ffffff, var(--secondary),var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills p {
    color: var(--quaternary);
    margin-top: 1rem;
    font-size: 1.5rem;
}

.skills span {
    margin-right: 1rem;
    border: 1px solid var(--secondary);
    height: 1px;
}

.list-skills {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.list-skills img {
    width: 5rem;
    height: 5rem;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.4rem;
}


@media screen and (max-width:968px) {
    .resume h1 {
        font-size: 2rem;
    }

    .skills p {
        font-size: 1rem;
    }

    .resume img {
        width: 90%;
    }

}

@media screen and (max-width:468px) {

    .title-section {
        font-size: 2rem;
    }

    .line-section {
        width: 60%;
    }

    .skills p {
        font-size: 1rem;
    }

}