footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.phrase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.phrase-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 50px -7px rgba(0,0,0,0.6);
    max-width: 70%;
    padding: 5rem 2rem;
}

.phrase {
    display: flex;
    align-items: start;
    justify-content: center;
}

.phrase-container h1 {
    text-align: center;
    font-family: italic;
    max-width: 90%;
}

.phrase-container p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--quaternary);
    font-family: 'Courier New', Courier, monospace;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--terciary);
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.footer-info {
    padding: 1rem;
}

.footer-info span {
    display: block;
    padding: 0.4rem 0;
    width: 100%;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 1rem;
}

.footer-info ul {
    gap: 1rem;
}

.footer-info ul li {
    display: flex;
    gap: 1rem;
    justify-content: start;
}

.footer-info ul li a {
    color: #f2f2f2;
    transition: color .3s ease-in-out;
    font-weight: 600;
}

.footer-info ul li a:hover {
    color: var(--secondary);
}

.footer-info ul li i {
    font-size: 1.2rem;
}

.qrcode p {
    text-align: center;
}

.qrcode img {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.copyright {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    border-top: 1px solid var(--quaternary);
    padding: 1rem 0;
    width: 100%;
    color: var(--quaternary);
    text-align: center;
}

.copyright a {
    color: var(--secondary);
    font-weight: bold;
}

@media screen and (max-width:1024px) {
    .phrase-content {
        max-width: 80%;
    }
    .phrase-content h1 {
        max-width: 100%;
    }

    .footer-info ul li i {
        font-size: 1rem;
    }

    .qrcode img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:768px) {
    .phrase-content {
        max-width: 90%;
    }
  
    .phrase-content h1 {
        font-size: 2.5rem;
        max-width: 100%;
    }
    .footer-info h2 {
        font-size: 1.7rem;
    }

    .footer-info {
        padding: 1rem;
    }

    .footer-info ul li i {
        font-size: 1.2rem;
    }

    .qrcode {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .phrase {
        flex-wrap: wrap;
    }
    .phrase-content h1 {
        font-size: 2rem;
        max-width: 100%;
    }

    .footer-info ul {
        display: flex;
        flex-wrap: wrap;
    }
}