footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--terciary);
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.footer-info{
    padding: 1rem;
}

.footer-info span{
    display: block;
    padding:  0.4rem 0;
    width: 100%;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 1rem;
}

.footer-info ul{
    gap: 1rem;
}

.footer-info ul li{
    display: flex;
    gap: 1rem;
    justify-content: start;
}

.footer-info ul li a{
    color: var(--quaternary);
    transition: color .3s ease-in-out ;
    font-weight: bold;
}
.footer-info ul li a:hover{
    color: var(--secondary);
}

.footer-info ul li i{
    font-size: 1.2rem;
}
.qrcode p{
    text-align: center;
}

.qrcode img{
    width: 100px;
    height: 100px;
    border-radius: 1rem;
}

.copyright {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    border-top: 1px solid var(--quaternary);
    padding: 1rem 0;
    width: 100%;
    color: var(--quaternary);
    text-align: center;
}

.copyright a{
    color: var(--secondary);
    font-weight: bold;
}

@media screen and (max-width:1024px) {
    .footer-info ul li i{
        font-size: 1rem;
    }
    .qrcode img{
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:768px) {
    .footer-info h2{
        font-size: 1.7rem;
    }
    .footer-info{
        padding: 1rem;
    }

    .footer-info ul li i{
        font-size: 1.2rem;
    }
    .qrcode {
        display: none;
    }
}

@media screen and (max-width:375px) {
    .footer-info ul {
        display: flex;
        flex-wrap: wrap;
    }
}