/* Header */

header {
    animation: initialize 0.7s forwards;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--secondary);
    font-size: 2.5rem;
    font-family: "Berkshire Swash", cursive;
}

header span {
    color: var(--terciary);
}

header ul {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding-top: 1rem;
}

header ul li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 0;
    width: 0;
    color: var(--terciary);
    font-size: 1.5rem;
}

header ul li a::after {
    content: '';
    height: 0;
    width: 10px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

header ul li a:hover::after {
    height: 0;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--secondary);
}

/* Efeito inicial */

@keyframes initialize {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@media screen and (max-width:900px) {
    header {
        flex-direction: column;
        padding: 2rem 0;
    }
    header ul li a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:468px) {
    header h1 {
        color: var(--secondary);
        font-size: 2rem;
    }

    header ul li a {
        font-size: 1rem;
    }

}