/* Header */

header {
    animation: initialize 0.7s forwards;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--secondary);
    font-size: 3.5rem;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header span {
    color: var(--terciary);
}

.nav {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding-top: 1rem;
}

.nav li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 0;
    width: 0;
    color: var(--terciary);
    font-size: 1.5rem;
}

.nav li a::after {
    content: '';
    height: 0;
    width: 10px;
    display: block;
    border-bottom: 4px solid transparent;
    transition: 1s;
}

.nav li a:hover::after {
    height: 0;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--secondary);
}

.nav li a.active {
    color: var(--secondary);
    height: 0;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid var(--secondary);
}

/* Animações */

@keyframes initialize {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@media screen and (max-width:1024px) {

    header{
        margin-bottom: 2rem;
    }

    header h1 {
        font-size: 2.7rem;
    }

    header ul li a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:768px) {
    header {
        flex-direction: column;
    }

    .nav {
        gap: 3rem;
    }
}

@media screen and (max-width:468px) {
    header h1 {
        color: var(--secondary);
        font-size: 2rem;
    }

    .nav {
        gap: 1rem;
    }

    .nav li a {
        font-size: 1rem;
    }

}