.home {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: initialize 0.7s forwards;
}

.home div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-content {
    padding-top: 1rem;
    gap: 2rem 0;
}

.home-content h1 {
    font-family: "Poppins";
    font-weight: 600;
    color: var(--terciary);
    text-align: start;
}

.home-content h2 {
    background: linear-gradient(to right, #ffffff, var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--terciary);
    border-radius: 5px;
    padding: .8rem;
    color: var(--terciary);
    transition: 0.5s ease-in-out;
    box-shadow: 2px 5px 1rem #000000;
}


.home-content h2 span {
    color: var(--secondary);
}

.home-content h2:hover {
    animation: translateY 0.8s infinite alternate;
    border-color: var(--secondary);
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    height: 100%;
    width: 90%;
}

.typing::after {
    content: "|";
    margin-left: 5px;
    opacity: 1;
    animation: blink 0.5s infinite;
    color: var(--terciary);
}


@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-0.4rem) scale(1.06);
    }
}

@media screen and (max-width:1024px) {
    .home-content{
        padding-left: 1rem;
    }

    .home-img img {
        height: 80%;
        width: 80%;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h2 {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:768px) {

    .home {
        flex-direction: column;
    }

    .home-img img {
        height: 100%;
        width: 60%;
    }
}

@media screen and (max-width:468px) {
    .home {
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 2rem;
    }

    .home-content h2 {
        font-size: 1.2rem;
    }
}