.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: inset 9px -3px 23px -1px rgba(0, 0, 0, 0.6);
}


.card img {
    border-radius: .5rem;
    transition: transform ease-in .3s;
    opacity: .8;
    height: 370px;
    width: 100%;
}

.card img:hover {
    transform: scale(1.04);
    opacity: 1;
}

.card-links {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.links a {
    color: var(--terciary);
    transition: transform .3s ease-in-out;
    opacity: 0.7;
    border-radius: 100%;
}

.links i {
    font-size: 2.5rem;
}

.disabled {
    color: #686868;
}

.links a:hover {
    transform: scale(1.06);
    opacity: 1;
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.like p {
    font-size: 1.5rem;
    color: #fff;
}

.button-icon {
    border: 0;
    background-color: var(--quaternary);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    transition: .25s ease;
    z-index: 1;
    cursor: pointer;
}

.button-icon:hover {
    background-color: #a52a2a;
    color: #FFF;
    transform: scale(1.06);
    opacity: 1;
}

svg {
    width: 1em;
    height: 1em;
}

.projects-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-button a {
    background: linear-gradient(to right, #ffffff, var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--terciary);
    border-radius: 5px;
    padding: .8rem;
    margin: 2rem 0;
    width: 40%;
    color: var(--terciary);
    transition: 0.5s ease-in-out;
    box-shadow: 2px 5px 1rem #000000;
}

.projects-button a span {
    color: var(--secondary);
}

.projects-button a:hover {
    animation: translateY 0.8s infinite alternate;
    border: 1px solid var(--secondary);
}

@media screen and (max-width:1024px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {

    .links{
        padding: 0.5rem;
    }

    .links i {
        font-size: 2.2rem;
    }

    .icon-button {
        width: 2.2rem;
        height: 2.2rem;
    }

    .projects img {
        height: 270px;
        width: 100%;
        opacity: 1;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:480px) {

    .projects {
        grid-template-columns: 1fr;
    }

    .projects-button h2 {
        font-size: 1rem;
    }

    .projects-button a {
        width: 80%;
        padding: .6rem .8rem;
    }

}