.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.center p{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects {
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    gap: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.6rem;
    box-shadow: inset 9px -3px 23px -1px rgba(0, 0, 0, 0.6);
}

.card img {
    border-radius: .5rem;
    transition: transform ease-in .3s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.links{
    position: absolute;
    bottom: 2rem;
    gap: 1rem;
    display: none;
    background-color: rgb(21, 23, 30, .8);
    align-items: center;
    justify-content: center;
    color: var(--terciary);
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.card:hover .links{
    display: flex;
    bottom: 0;
}

.links a {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .6rem;
    background-color: var(--secondary);
    padding: .4rem 1rem;
    color: #000;
    border-radius: .5rem;
    transition: transform .4s ease-in;
}

.links p{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .6rem;
    background-color: var(--quaternary);
    padding: .4rem 1rem;
    color: #000;
    border-radius: .5rem;
}

.links a:hover {
    transform: scale(1.05);
    border: 2px solid #fff;
}

.links i{
    font-size: 1.5rem;
}

.projects-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-button a {
    background: linear-gradient(to right, #ffffff, var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--terciary);
    border-radius: 5px;
    padding: .8rem;
    margin: 2rem 0;
    width: 40%;
    color: var(--terciary);
    transition: 0.5s ease-in-out;
    box-shadow: 2px 5px 1rem #000000;
}

.projects-button a span {
    color: var(--secondary);
}

.projects-button a:hover {
    animation: translateY 0.8s infinite alternate;
    border: 1px solid var(--secondary);
}


@media screen and (max-width:1024px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:768px) {

    .links{
        padding: 0.5rem;
    }

    .links i {
        font-size: 2.2rem;
    }

    .icon-button {
        width: 2.2rem;
        height: 2.2rem;
    }

    .projects img {
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    .projects {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:480px) {

    .projects {
        grid-template-columns: 1fr;
    }

    .projects-button h2 {
        font-size: 1rem;
    }

    .projects-button a {
        width: 80%;
        padding: .6rem .8rem;
    }

}