:root {
    --primary: #15171e;
    /*Cor de fundo*/
    --secondary: #00d0ff;
    /*Cor de titulos principais, icones e layouts*/
    --terciary: #fff;
    /*Cor de titulos*/
    --quaternary: #9b9b9b;
    /*Cor de subtitulos e paragrafos*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1600px;
    height: 100vh;
    font-family: 'Poppins';
    background-color: var(--primary);
    margin: 0 auto;
}

::-webkit-scrollbar-track {
    background-color: var(--primary);
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 3px;
}


h1 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right, #ffffff, var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: Poppins;
    font-size: 2rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

i {
    font-size: 3rem;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-icons a:hover {
    animation: translateY .5s infinite alternate;
}

@media screen and (max-width:1770px) {
    .social-icons {
        display: none;
        overflow: hidden;
    }
}
