@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap");

:root {
    --primary: #15171e;
    /*Cor de fundo*/
    --secondary: #00d0ff;
    /*Cor de titulos principais, icones e layouts*/
    --terciary: #fff;
    /*Cor de titulos*/
    --quaternary: #c7c7c7;
    /*Cor de subtitulos e paragrafos*/
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1600px;
    margin: auto;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary);
}


h1 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right, #ffffff, var(--secondary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: Poppins;
    font-size: 2rem;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

i {
    font-size: 3rem;
}

.social-icons {
    position: fixed;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:1770px) {
    .social-icons{
        display: none;
    }
}